@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
div, a, span { font-family: 'Play', sans-serif; text-decoration: none !important; }

.admin-notification {
    background: #252344;
}

 .blog__tags a:after {
    content: '|';
    margin-left: 10px;
    color: #3e3992;
}

.content > .post-content > h1 + div { 
    margin-left: 0px !important;
}

.comment-box .post-avatar a:before{
    content: '';
    position: absolute;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/933820/b6080a0f52bfc036e7de284754c2ea8781323d7b.png) no-repeat  -7px -7px / 114px;
    width: 100px;
    height: 100px;
    left: 0;
    transition: 0.5s;
    filter: opacity(0.5);
    border-radius: 4px;
}

[src*="soundcloud.com/player/"] {
    height: 24px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 2px;
    filter: hue-rotate(240deg);
    background: #af6047;
    box-shadow: 0 1px 1px 0px #ff622f, 
                              0 -1px 1px 0px #8d7c54;
}

.embed-responsive iframe {
    border: 4px double #151421;
    border-radius: 20px;
    box-shadow: inset 0 0 4px 0px #423d9d;
    padding: 4px;
}

.new-comment-scroll-notice {
    border: 1px solid #151421;
    box-shadow: inset 0px 0px 2px 0px #3f3a90;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background: #1d1b37f0;
    font-size: 24px;
}

.blog__last-comments p {
    background: linear-gradient(90deg, #423d9d 2px, #15142169 2px); 
    padding-left: 5px; 
    overflow: hidden;
}

.user_img_shadow {
    margin: unset;
}


#commentpreviewplace .post-title-date {
    color: #464373c7;
    padding: 0px 5px;
}
#commentpreviewplace .post-title-date + a {
    display: none;
}

* {
    outline: 0 !important;
}


#imagefsmodal .imagefsmodal__close {
    opacity: 0;
}

.imagefsmodal__setlink > a {
    color: unset;
    opacity: 0.1;
    font-weight: 100;
    letter-spacing: 1px;
    transition: .5s;
}

.imagefsmodal__setlink > a:hover {
    opacity: 1;
}

.left-menu__unread-message {
    top: 300px !important;
    max-height: 150px;
    overflow: auto;
}
.left-menu__unread-message::-webkit-scrollbar {
    width: 6px;
    background: #151421;
    border-left: 1px solid #1d1b37;
}
.left-menu__unread-message h3 + p + img {
    display: none;
}

div.notifications__comments.left-menu__user-notification {
top: 100px !important;
}

.left-menu__unread-notifications {
top: 0px !important;
}

.notifications__comments, .left-menu__user-notification {
    position: fixed;
    top: 0px;
    right: 2px;
    background: linear-gradient(270deg, #7771cb 4px, transparent 4px), #423d9de3;
    opacity: 0;
    animation: note 4s forwards;
    box-shadow: 0 0 2px 1px #1d1b37;
    padding: 4px 10px;
    z-index: 1;
}



@keyframes note {
 0% { 
    opacity: 0; 
    margin-top: 0px;
}
  100% { 
    opacity: 1; 
    margin-top: 120px;
}
}

.comment-box .comment-content {
    animation: comm 2s forwards;
}

@keyframes comm {
  from { opacity: 0; }
  to {  opacity: 1; }
}

#addblog__select::-webkit-scrollbar {
    width: 6px;
    background: #151421;
    border-left: 1px solid #1d1b37;
}
#adduser__list {
    background: #716db5;
    border: none !important;
    margin: 10px !important;
}

.custom-file-input:focus~.custom-file-label {
    border-color: unset;
    box-shadow: 0 0 0 0.2rem rgb(113 109 181);
}

.custom-file-label {
    background-color: #151421;
    border: 1px solid #5955a9;
}
.custom-file-label:after {
    background-color: #5955a9;
    border-left: 1px solid #5955a9 !important;
    border-radius: 0 0.25rem 0.25rem 0;
    color: #b3a9e5;
}

[name="prevpostaccess"],
[name="postgroup"],
[name="postaccess"],
.cb_img-size, .cb_img-align,
#addtag-img-size, #addtag-img-align,
#upload-img-size, #upload-img-align {
    background-color: #151421;
    border-color: #5955a9;
}

.fa-heart:hover:before {
color: #bcb0ebe3;
}  

.post-text a,
.comment-text a {
    text-shadow: 0 -10px 2px transparent, 0 10px 2px transparent;
    transition: .5s;
    color: #423d9d;
    padding-left: 4px;
}

.post-text a:hover,
.comment-text a:hover {
    text-shadow: 0 0 6px #9d96fdab, 0 0 6px #9d96fdab;
    color: #e9dbff;
}


.emj-dropdown-content {
    background: #1d1b37;
    margin: 0px 40px 40px 0;
    width: auto;
    overflow: auto;
    height: auto;
}
.emj-dropdown-content a {
    transition: 1s .5s;
}
.emj-dropdown-content a:hover {
    background-color: #423d9d;
    transition: 0s;
}


#collapseStickerpaks div div::-webkit-scrollbar,
.emj-dropdown-content::-webkit-scrollbar,
.clpsstkrs::-webkit-scrollbar {
    width: 6px;
    background: #151421;
    border-left: 1px solid #1d1b37;
}
#collapseStickerpaks div div::-webkit-scrollbar-thumb,
.emj-dropdown-content::-webkit-scrollbar-thumb,
.clpsstkrs::-webkit-scrollbar-thumb {
    background-color: #252344;
    box-shadow: inset 5px 5px 2px -4px #615cc530;
    border: 1px solid #191919;
}
 
.messageform__taglink tag {
    padding: 0 10px;
}

[name="posttags"] {
    width: 100%;
}




[name="posttags"],
[name="posttitle"],
[name="blogtitle"],
.clipboard-image-field,
#addblogtext,
#addblog__imagelink,
#addblog__select,
#addtag-user,
#adduser__imagelink,
.col-md-4 input,
.col-md-4 select,
.messageform input,
.messageform input.w-100,
#messageform input,
#messageform input.w-100 {
    background: #151421;
    border: none;
}

.lds-facebook span {
    background: #423d9d;
    margin: 2px 0 0px 0px;
}

.comment-box__message-partial {
    padding: 0px 10px 0px 10px !important;
    width: fit-content;
    background: #252344 !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14;
    min-height: auto;
}

.comment-box h2 {
    font-size: 16px;
    margin: -40px 0px 20px 10px;
    background: #252344;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14;
}

#commentpreviewplace .comment-row {
    background: #1d1b37;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #16152d;
}

#commentpreviewplace .comment-row .post-avatar img {
    border-radius: 4px;
    background: #1d1b37;
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    object-fit: cover;
    object-position: top;
}

#commentpreviewplace .comment-row .post-avatar {
    position: relative;
    min-width: 108px;
    min-height: 108px;
    max-width: 108px;
    max-height: 108px;
    background: url(https://i1.beon.fun/24/36/3624/0/862900/9.gif) no-repeat center / cover;
    border: 4px solid #252344;
    border-radius: 10px;
    box-shadow: 0 0 0px 1px #151421;
    margin-right: 10px;
}

#csseditortext::-webkit-scrollbar {
    width: 6px;
    background: #151421;
    border-left: 1px solid #1d1b37;
}
#csseditortext::-webkit-scrollbar-thumb {
    background-color: #252344;
    box-shadow: inset 5px 5px 2px -4px #615cc530;
    border: 1px solid #191919;
    min-height: 100px;
}
#csseditortext::-webkit-scrollbar-corner {
    background: #1d1b37;
}

span[data-target="#deleteconfirmmodal"]:hover {
    color: #e9dbff;
    text-shadow: 0 0 15px #9d96fd;
}
span[data-target="#deleteconfirmmodal"] {
    color: #423d9d;
    transition: .5s;
}

.post-content .textarea-wrapper + [type="submit"] {
    margin-left: 1px;
}

.textareabg #messageform [type=submit] {
    background: #1d1b37;
    border: none;
    padding: 4px 10px;
    box-shadow: 0 0 2px 1px #302c6a;
    transition: .5s;
    margin-right: 1px;
    margin-bottom: 10px;
    margin-top: 0px;
    float: right;
    font-size: 12px;
}

.textareabg #messageform [type=submit]:hover {
    background: #423d9d;
}

.avatar-select-list {
    border: 1px solid #302c6a;
    border-left: none;
}

.avatar-select-list::-webkit-scrollbar {
    width: 6px;
    background: #151421;
    border-left: 1px solid #1d1b37;
}

.avatar-select-list::-webkit-scrollbar-thumb {
    background-color: #252344;
    box-shadow: inset 5px 5px 2px -4px #615cc530;
    border: 1px solid #191919;
}

.avatar-select-label-selected {
    border: 4px solid #423d9d !important;
    position: relative;
    box-shadow: 0 0 3px 0px #151421;
}

.avatar-select-label {
    border: 4px solid #151421;
    margin: -30px 0px 0px 0px;
    border-radius: 50%;
    background: #151421;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    object-fit: cover;
    object-position: top;
    transition: 1s;
}

.textarea-wrapper {
    background: #1d1b37;
    border: 1px solid #302c6a;
    padding: 4px;
}

.textareabg {
    border-radius: 20px;
    background: #252344 !important;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14;
    overflow: hidden;
    padding: 5px !important;
    margin: unset !important;
}

.textareabg, .textarea-wrapper > textarea {
    background: #151421;
    border: 1px solid #302c6a;
    width: 100%;
    min-width: unset;
}

.quotation {
    border-left: 3px solid #423d9d;
    padding: 2px 5px;
    margin: 0px 10px 0 5px;
    font-size: 12px;
}

.comment-box .comment-content .comment-base {
    padding: 5px 5px 0 0px;
}

.comment-box .comment-content .comment-row .comment-base .mt-3,
.comment-box .comment-content .post-opt {
    position: sticky;
    float: right;
    margin: 5px -5px 0px 0 !important;
    background: #1d1b37;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 4px 10px 4px 10px;
    top: 100%;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 2px 0 #151421;
    height: 30px;
}

.comment-box .comment-content .post-likes-count {
    font-size: 0px;
}

.comment-box .comment-content .post-likes-count .fas.fa-heart {
    font-size: 16px;
}

.comment-box .comment-content > div:first-child {
    display: flex;
}

.comment-box .comment-content > div > .post-title-date + a {
    content: url(https://i1.beon.fun/24/36/3624/99/861799/icons8-dolya-3-48.png);
    width: 16px;
    height: 16px;
    margin: 4px 5px 0 0px;
    opacity: .5;
    transition: .5s;
}
.comment-box .comment-content > div > .post-title-date + a:hover {
    opacity: 1;
}

.comment-box .comment-content > div > a:first-child {
    overflow: hidden;
    padding: 0 10px;
    width: fit-content;
    transition: .5s;
}

.comment-box .comment-content .post-title-date {
    padding: 0px 6px;
    font-size: 12px;
    color: #464373c7;
    margin: 4px 0px 0 0;
    text-align: right;
    overflow: hidden;
}

.comment-box .comment-row {
    background: #252344;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #16152d;
}

.comment-box .comment-content {
    min-height: auto;
    margin-bottom: 25px;
    background: #1d1b37;
    border-radius: 20px;
    padding: 2px 5px 10px 5px;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14;
}

.comment-box .post-avatar img {
    border-radius: 4px;
    background: #1d1b37;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    object-fit: cover;
    object-position: top;
}
.comment-box .post-avatar {
    position: relative;
    min-width: 108px;
    min-height: 108px;
    max-width: 108px;
    max-height: 108px;
    background: url(https://i1.beon.fun/24/36/3624/0/862900/9.gif) no-repeat center / cover;
    border: 4px solid #252344;
    border-radius: 10px;
    box-shadow: 0 0 0px 1px #151421;
}

.post-content div:not(.post-header) + .post-row .post-avatar a:after {
    content: '';
    position: absolute;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/933820/b6080a0f52bfc036e7de284754c2ea8781323d7b.png) no-repeat -10px -10px / 100px;
    width: 80px;
    height: 80px;
    left: 0px;
    margin: 0px 0px 0px 15px;
    transition: 0.5s;
    filter: opacity(0.5);
    border-radius: 6px;
}

.post-content.p-2 [type="text"] {
    background: #151421;
    font-size: 12px;
    border: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-transform: lowercase;
    margin-left: 0px;
    padding-left: 10px;
}
.post-content.p-2 [type="submit"] {
    background: #423d9d;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    padding: 0px 10px 0 10px;
    text-transform: lowercase;
    margin: 0 0 0 -3px;
    height: 19px;
    box-shadow: 0 0 0px 1px #151421;
}
.post-content.p-2 {
    margin: 0 0 20px 0px !important;
}


.fast-quote {
    margin: 0 !important;
}
.post-row .comment-base .post-opt > div { font-size: 8px !important; }
.post-content .post-row .comment-base .post-opt .post-likes-count {
    font-size: 0;
}
.post-content .post-row .comment-base .post-opt .fas.fa-heart {
    font-size: 16px;
}

.post-row .comment-base .post-opt {
    position: sticky;
    float: right;
    margin: 5px -5px -5px 0px !important;
    background: #252344;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 6px 10px 4px 10px;
    top: 100%;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 1px 1px 0 #151421;
}




.content .post-content h1 {
    max-width: calc(100% - 132px);
    max-height: 37px;
    overflow: hidden;
    margin: 0;
    line-height: 1.5;
}


.postsiblings {
    margin: 0px 0px 10px 0px !important;
    padding: 0px 15px;
}

.fa-step-backward:before {
    content: '';
    height: 24px;
    width: 24px;
    background: url(https://i1.beon.fun/24/36/3624/9/861709/icons8-bystraya-peremotka-vpered-48.png) no-repeat center / cover;
    position: absolute;
    top: 0px;
    left: -27px;
    transform: rotate(180deg);
}

.fa-step-forward:before {
    content: '';
    height: 24px;
    width: 24px;
    background: url(https://i1.beon.fun/24/36/3624/9/861709/icons8-bystraya-peremotka-vpered-48.png) no-repeat center / cover;
    position: absolute;
    top: 0px;
    right: -27px;
}
.prevsibling,
.nextsibling.text-right {
    padding: 0;
}





.post-content div:not(.post-header) + .post-row .post-avatar {
    border: 4px solid #252344;
    min-width: 86px;
    height: 86px;
    background: url(https://i1.beon.fun/24/36/3624/87/857487/1.gif) center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #1d1b37;
    margin-left: 0 !important;
}

 #usermenu {
    background: transparent;
    font-size: 12px;
    width: 170px;
    height: 170px;
    margin: -125px 0 0 -45px;
    border: none;
    border-radius: 50%;
    z-index: 4;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 #151421, inset 0 0 4px -1px #423d9d, inset 0 0 0px 43px #252344f0;
}

#usermenu__message {
    content: url(https://i1.beon.fun/24/36/3624/66/861266/1.png);
    height: 24px;
    position: absolute;
    top: 10px;
    left: 73px;
    transition: 2s .5s;
}
#usermenu__gift {
    content: url(https://i1.beon.fun/24/36/3624/67/861267/2.png);
    height: 24px;
    position: absolute;
    top: 28px;
    right: 28px;
    transition: 2s .5s;
}
#usermenu__friend {
    content: url(https://i1.beon.fun/24/36/3624/69/861269/3.png);
    height: 24px;
    position: absolute;
    top: 75px;
    right: 10px;
    transition: 2s .5s;
}
#usermenu__ignore {
    content: url(https://i1.beon.fun/24/36/3624/70/861270/4.png);
    height: 24px;
    position: absolute;
    bottom: 28px;
    right: 28px;
    transition: 2s .5s;
}
#usermenu__feedignore {
    content: url(https://i1.beon.fun/24/36/3624/71/861271/5.png);
    height: 24px;
    position: absolute;
    bottom: 10px;
    left: 74px;
    transition: 2s .5s;
}
#usermenu__interview {
    content: url(https://i1.beon.fun/24/36/3624/72/861272/6.png);
    height: 24px;
    position: absolute;
    bottom: 28px;
    left: 28px;
    transition: 2s .5s;
}
#usermenu__blog {
    content: url(https://i1.beon.fun/24/36/3624/73/861273/7.png);
    height: 24px;
    position: absolute;
    top: 75px;
    left: 10px;
    transition: 2s .5s;
}
#usermenu__profile {
    content: url(https://i1.beon.fun/24/36/3624/74/861274/8.png);
    height: 24px;
    position: absolute;
    top: 28px;
    left: 28px;
    transition: 2s .5s;
}

#usermenu__message:hover,
#usermenu__gift:hover, 
#usermenu__friend:hover, 
#usermenu__ignore:hover,
#usermenu__feedignore:hover,
#usermenu__interview:hover, 
#usermenu__blog:hover, 
#usermenu__profile:hover { 
    filter: brightness(1.6) drop-shadow(0px 0px 10px #bcb0ebe3);
    transition: 0s;
}

a:hover {
    color: #e9dbff;
    text-shadow: 0 0 15px #9d96fd;
}

.py-4 + .crumbs {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    right: 0px;
    overflow: hidden;
    padding: 0;
}

.py-4 + .crumbs .pagination {
    display: block !important;
    font-size: 14px;
    background: #252344;
    box-shadow: 0px 0px 2px 0px #6f69b9, 
                              0px 0px 2px 1px #000 !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 10px 0 20px;
}

[type=reset], 
[type=submit], 
button, 
html [type=button] {
    transition: .5s;
    background: #1d1b37;
    border: none;
    padding: 4px 10px;
    box-shadow: 0 0 2px 1px #302c6a;
    margin: 4px;
}

[type=reset]:hover, 
[type=submit]:hover, 
button:hover, 
html [type=button]:hover {
    background: #423d9d;
}


[type=reset]:hover, 
[type=submit]:hover, 
button:hover, 
html [type=button]:hover, 
.crumbs a:hover,
.crumbs span:hover {
    color: #e9dbff;
    text-shadow: 0 0 15px #9d96fd;
}

html [type=button] {
font-size: 12px;
}

.alert-warning,
.alert-success {
    color: #aba1d8b0;
    background: linear-gradient(90deg, #1d1b37 10%, #423d9d82 , #1d1b37 80%);
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 2px 1px #1d1b37;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    padding: 8px 10px 8px 10px;
    text-transform: lowercase;
    overflow: hidden;
}

.content > h1 {
    font-size: 16px;
    margin-bottom: 40px;
}

.navbar + div.crumbs .pagination-goto {
    padding-left: 20px;
    font-size: 0;
}

.navbar + div.crumbs .pagination-goto:before {
    content: '';
    position: absolute;
    box-shadow: 5px 0px 1px -4px #423d9d;
    width: 10px;
    height: 30px;
    top: -2px;
    margin-left: -14px;
}

[action="/search"] [type=submit]:hover {
    color: #e9dbff;
    text-shadow: 0 0 15px #9d96fd;
}

.menu__box::-webkit-scrollbar {
    width: 20px;
    border-left: 1px solid #151421;
}

.menu__box::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( 121deg , #423d9d5e 5%, #252344e8 25%, #1d1b37d4), 
                             url(https://i1.beon.fun/24/36/3624/83/857483/0-2.gif) !important;
    box-shadow: inset 1px 0px 4px -1px #423d9d !important;
}

.menu__box::-webkit-scrollbar-thumb {
    background-color: #252344;
    box-shadow: inset 5px 5px 2px -4px #615cc561;
    border: 1px solid #191919;
    border-bottom-right-radius: 20px;
}

.menu__item:hover {
    background-color: transparent;
    color: #e9dbff;
    transition: 0s;
    text-shadow: 0 0 15px #9d96fd;
}

.menu__item {
    color: #7771cb;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: lowercase;
    padding: 4px 14px;
    transition: 2s .5s;
}

 .menu__box {
    right: 0;
    left: 400px;
    background: #252344;
    max-height: 0px;
    top: 51px;
    width: calc(100% - 700px);
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 4px 4px -3px #0a0a14a3, 
                                         0px -3px 2px 0px #0a0a14a3, 
                                         0 -3px 0px 0px #252344, 
                                         0px -5px 1px -2px #423d9d, 
                                         0px 4px 2px -2px #0a0a14;
    margin-top: 3px;
    opacity: 0;
    overflow: auto;
}

#menu__toggle:checked ~ .menu__box {
    max-height: 130px;
    opacity: 1;
}

.hamburger-menu {
    display: block;
    position: fixed;
    left: 86px;
    top: 13px;
}

.hamburger-menu:after {
    content: '';
    position: absolute;
    box-shadow: 5px 0px 1px -4px #423d9d;
    width: 43px;
    height: 40px;
    top: -8px;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #7771cb;
    width: 24px;
}

[action="/search"]:before {
    content: '';
    height: 32px;
    width: 32px;
    background: url(https://i1.beon.fun/24/36/3624/76/860676/icons8-rasshirennyy-poisk-48.png) no-repeat center / 32px;
    margin-right: 20px;
    margin-top: -5px;
}

[action="/search"]:hover [type=submit] {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: 1.5s;
}

[action="/search"] [type=submit] {
    background: #423d9d;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 0px 1px #464191;
    font-size: 10px;
    padding: 0px 10px 0 10px;
    text-transform: lowercase;
    color: #7771cb;
    opacity: 0;
    margin: -1px 0 0 3px;
    height: 22px;
    transition: .5s;
    transition-duration: .5s;
}

[action="/search"]:hover input:first-child {
    width: 160px;
    box-shadow: 0px 0px 0px 2px #272459;
    opacity: 1;
}

[action="/search"] input:first-child {
    background: #252344;
    font-size: 10px !important;
    border: unset;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 0px;
    text-transform: lowercase;
    margin-left: 0px;
    padding-left: 10px;
    transition: 1s;
    opacity: 0;
}

[action="/search"] {
    display: flex;
    position: fixed;
    left: 145px;
    top: 15px;
    height: 20px;
    transition: 0.5s;
}

.blog__tags h3 + .left-menu-text::-webkit-scrollbar {
    width: 6px;
    background: #252344;
    border-left: 1px solid #151421;
}

.blog__tags h3 + .left-menu-text::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( 121deg , #423d9da1 5%, #252344e8 25%, #1d1b37d4), 
                           url(https://i1.beon.fun/24/36/3624/83/857483/0-2.gif) !important;
    box-shadow: inset 1px 0px 4px -1px #423d9d !important;
}

.blog__tags h3 + .left-menu-text::-webkit-scrollbar-thumb {
    background-color: #252344;
    box-shadow: inset 5px 5px 2px -4px #615cc561;
    border: 1px solid #191919;
}

.post-header:after {
    content: '';
    border: 4px solid #252344;
    position: absolute;
    top: 5px;
    left: 6px;
    min-width: 86px;
    height: 86px;
    background: url(https://i1.beon.fun/24/36/3624/87/857487/1.gif) center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #1d1b37;
}
 
.likebutton.liked .fa-heart:before {
    color: #7771cb; 
    transition: .5s; 
    text-shadow: 0 0 2px black, 0px 0 5px #8781ef !important;
}

.post-header .post-title {
    text-shadow: 0 -10px 2px transparent, 0 10px 2px transparent;
    transition: .5s;
}
.post-header .post-title:hover {
    text-shadow: 0 0 6px #9d96fdab, 0 0 6px #9d96fdab;
    color: #e9dbff;
}

.comments_count a, 
.comments_count span,
.fa-heart:before {
    color: #7771cb;
    transition: .5s;
}
.comments_count a:hover, .comments_count span:hover {
    color: #aba1d8;
}

.post-content .post-header .user-drop-menu:before {
    content: '';
}

.fa-retweet:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(https://i1.beon.fun/24/36/3624/5/858205/icons8-retweet-48-1.png) no-repeat center / 20px;
    display: block;
    margin: -5px 0px;
}

.fa-bookmark:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(https://i1.beon.fun/24/36/3624/3/858203/icons8-zakladka-lenta-48-1.png) no-repeat center / 20px;
    display: block;
    margin: -6px 0px;
}

.fa-exclamation-triangle:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(https://i1.beon.fun/24/36/3624/2/858202/icons8-oshibka-48-1.png) no-repeat center / 20px;
    display: block;
    margin: -6px 0px;
}

.fa-quote-left:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(https://i1.beon.fun/24/36/3624/45/861745/icons8-citata-sleva-48.png) no-repeat center / 20px;
    display: block;
    margin: -6px 0px;
}

.comment-box .fa-trash-alt:before {
    content: '';
    height: 20px;
    width: 20px;
    background: url(https://i1.beon.fun/24/36/3624/4/858204/icons8-musor-48-1.png) no-repeat center / 20px;
    display: block;
    margin: -6px 0px;
}

.post-row .row.w-100.mt-3 .post-likes-count {
    font-size: 0px;
}

.post-row .row.w-100.mt-3 .fas.fa-heart {
    font-size: 16px;
    margin: 2px 0px;
}

.post-opt [href$="/edit"],
.post-row .row.w-100.mt-3 [href$="/edit"] {
    content: url(https://i1.beon.fun/24/36/3624/6/858206/icons8-redaktirovat-48-1.png);
    width: 20px;
}

.post-opt [href^="//beon.fun/repost/"],
.post-row .row.w-100.mt-3 [href^="//beon.fun/repost/"] {
    content: url(https://i1.beon.fun/24/36/3624/5/858205/icons8-retweet-48-1.png);
    width: 20px;
}

.post-opt [href^="//beon.fun/repost/"] + span,
.post-row .row.w-100.mt-3 [href^="//beon.fun/repost/"] + span {
    content: url(https://i1.beon.fun/24/36/3624/4/858204/icons8-musor-48-1.png);
    width: 20px;
}

.post-opt [href^="//beon.fun/repost/"] + span:hover,
.post-row .row.w-100.mt-3 [href^="//beon.fun/repost/"] + span:hover {
}

.post-content .post-row img.imagefsme {
    filter: saturate(0.8);
    transition: .5s;
}

.post-content .post-row img.imagefsme:hover {
    filter: saturate(1);
}

*, :after, :before, a {
    color: #bcb0ebe3; 
}

.post-content .post-header .user-drop-menu {
    position: absolute;
    left: 9px;
    top: 9px;
    width: 80px;
    height: 80px;
    margin: 0;
    font-size: 0;
    z-index: 2;
    border-radius: 5px;
    transition: .5s;
}

.post-content .post-header .user-drop-menu:hover { 
    background: rgb(65 53 127 / 25%);
}

 .post-row .row.w-100.mt-3 .col-md-6 {
    flex: unset;
    max-width: max-content;
    display: flex;
    height: 25px;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

 .post-row .row.w-100.mt-3 {
    position: absolute;
    top: -78px;
    margin: 0px 0px 0 90px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: auto !important;
}

.post-header .post-title {
    max-height: 35px;
    overflow: hidden;
    box-shadow: 0px 2px 2px -2px #423d9d;
    padding: 0px 10px 0px 10px;
    font-size: 22px;
}

.post-header .post-title-date + span { 
    font-size: 12px;
    color: #5751a5a8;
    position: absolute;
    right: 14px;
    top: 2px;
}

.datebg {
    position: absolute;
    right: 0;
    margin: -24px 80px;
    font-size: 12px;
    font-weight: 100;
    background: #252344;
    padding: 2px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
    box-shadow: 0px -2px 3px -2px #5c52db, 
                              0px -2px 3px 0px #0a0a14, 
                   inset 0px -3px 2px -3px #0a0a14;
    color: #6462a787;
}

* { cursor: url(https://i1.beon.fun/24/36/3624/86/857486/1-1.png), auto !important; }

a, span, label { 
    cursor: url(https://i1.beon.fun/24/36/3624/85/857485/1-2.png), auto !important; }

body::-webkit-scrollbar {
    width: 10px;
    background: #1d1b37;
    border-left: 1px solid #26225b;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( 121deg , #423d9da1 5%, #252344e8 25%, #1d1b37d4), 
                           url(https://i1.beon.fun/24/36/3624/83/857483/0-2.gif) !important;
    box-shadow: inset 1px 0px 4px -1px #423d9d !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #26225b;
    box-shadow: inset 5px 5px 2px -4px #615cc56b;
    border: 1px solid #191919;
}

::selection {
    color: #7771cb;
    text-shadow: 0px 1px 3px #131227;
    background: #423d9d;
}

.post-content .post-header + .post-row .post-avatar a:after {
    content: '';
    position: absolute;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/933820/b6080a0f52bfc036e7de284754c2ea8781323d7b.png) no-repeat -7px -7px / 94px;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0;
    transition: 0.5s;
    filter: opacity(0.5);
}

.post-content .post-header {
    margin: 0 !important;
    height: 100px;
    padding: 5px 0px 0px 82px;
    background: #252344;
}

.post-content .post-header + .post-row .post-avatar {
    border: 4px solid #252344;
    position: absolute;
    top: 5px;
    left: 0px;
    min-width: 86px;
    height: 86px;
    background: url(https://i1.beon.fun/24/36/3624/87/857487/1.gif) center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #1d1b37;
}

.left-menu .blog__about h3:before {
    content: '';
    background: url(https://i1.beon.fun/24/36/3624/35/857435/1-15.png) no-repeat 25px 31px / 230px;
    width: 280px;
    height: 280px;
    position: absolute;
    filter: hue-rotate(-155deg) brightness(0.6) contrast(2);
}

.post-content .post-row {
    padding: 5px;background: #1d1b37;
    margin: 0px -4px 10px -4px;
    border: 1px solid #16152d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-content {
    background: #252344;
    border-radius: 20px;
    margin: 0px 0px 60px 0px !important;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px #5c52db, 
                              0px 0px 2px 2px #0a0a14;
    min-height: auto;
    padding: 0 9px;
}

.blog__gifts .right-menu-text {
    padding-right: 5px;
    position: sticky;
    top: 100%;
}

.blog__gifts .right-menu-text a {
    padding: 0 !important;
    font-size: 12px !important;
}

.blog__gifts img {
    filter: saturate(0.5) drop-shadow(0px 0px 4px black);
    width: 50px;
}

.blog__gifts a,
.blog__read-me a,
.blog__last-comments a,
.blog__iread a,
.blog__tags a {
    font-size: 14px !important;
    padding: 0 10px 0 6px;
    transition: 2s .5s;
    text-shadow: 0 0 10px transparent;
}

.blog__gifts a:hover,
.blog__read-me a:hover,
.blog__last-comments a:hover,
.blog__iread a:hover,
.blog__tags a:hover {
    color: #e9dbff;
    transition: 0s;
    text-shadow: 0 0 15px #9d96fd;
}

.blog__tags {
    font-size: 0px;
}

.blog__about a {
    transition: 0.5s;
}
.blog__about a:hover {
    background: #423d9d;
    box-shadow: 0 0 1px 4px #151421, 0px 0px 2px 4px #5c52db;
    transition: 0.5s;
}

.blog__about [href="/discussions"],
.blog__about [href$="beon.fun/friends-activities/"],
.blog__about [href$="beon.fun/subscriptions/"],
.blog__about [href^="//beon.fun/users/"] {
    font-size: 16px;
    height: 28px;
    display: grid;
    align-content: space-evenly;
    text-shadow: 0 -20px 2px transparent, 0 20px 2px transparent;
    width: 170px;
    text-transform: lowercase;
    margin: 0 0 6px 0px;
    border-radius: 20px;
    border: 4px solid transparent;
    color: #7771cb;
    letter-spacing: 1px;
    transition-duration: 1s;
}

.blog__about [href="/discussions"]:hover,
.blog__about [href$="beon.fun/friends-activities/"]:hover,
.blog__about [href$="beon.fun/subscriptions/"]:hover,
.blog__about [href^="//beon.fun/users/"]:hover {
    opacity: 1;
    text-shadow: 0 0 15px #9d96fd, 0 0 15px #9d96fd;
    transition-duration: 0.5s;
    box-shadow: inset 0px 0px 10px -2px #252344, 
                            inset 0px 0px 3px 30px #252344, 
                            inset 0px 0px 0px 10px #423d9d, 
                            inset 0px 0px 0px 10px #5751a9, 0px 0px 2px 0px #423d9d;
    border-radius: 20px;
    border: 4px solid #1d1b37;
    color: #e9dbff;
}

.left-menu-text {
    padding-left: 0 !important;
    align-self: center;
}

.blog__about [href="/p"] {
   position: absolute;
    top: 280px;
    left: 110px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/67/856567/icons8-nastroyki-48.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about [href="/drafts"] {
    position: absolute;
    top: 280px;
    left: 186px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/66/856566/icons8-redaktirovanie-fayla-48.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about [href="/design/disable"] {
    position: absolute;
    top: 280px;
    left: 256px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/38/856538/icons8-vyklyuchenie-sistemy-48.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about .blog-subscribe {
    position: absolute;
    top: 280px;
    left: 186px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/39/856539/icons8-dobavit-v-izbrannoe-48.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about [href^="/friends/request/"] {
   position: absolute;
    top: 280px;
    left: 110px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/41/856541/icons8-dobavit-polzovatelya-48.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about [href^="/friends/delete/"] {
   position: absolute;
    top: 280px;
    left: 110px;
    font-size: 0;
    content: url(https://i1.beon.fun/24/36/3624/35/859435/icons8-udalit-polzovatelya-48-1.png);
    height: 42px;
    background: #151421;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 1px 4px #252344;
}

.blog__about [href^="//im.beon.fun/"] {
   position: absolute;
   top: 280px;
   left: 40px;
   font-size: 0;
   content: url(https://i1.beon.fun/24/36/3624/42/856542/icons8-soobshchenie-48.png);
   height: 42px;
   background: #151421;
   border-radius: 50%;
   padding: 6px;
   box-shadow: 0 0 1px 4px #252344;
    transition: 0.5s;
}

main.py-4 {
    min-height: 106vh;
}

.left-menu h3 {
    background: transparent !important;
    font-size: 0;
    margin: 0;
}

.left-menu .blog__about h3 {
    height: 240px;
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    width: 100%;
}

.left-menu .blog__about h3:after {
    border-radius: 50%;
    margin: 60px;
    content: '';
    background: url(https://i1.beon.fun/24/36/3624/79/856379/eon.gif) no-repeat center / 170px;
    width: 170px;
    height: 170px;
    box-shadow: 0 0 1px 5px #252344;
    position: absolute;
}

#fnplayer-volume:hover #fnplayer-volume-inner, #fnplayer-slider:hover #fnplayer-slider-inner {
    box-shadow: inset 0 0 4px 0px #423d9d;
}

#fnplayer-play.paused:after {
    content: '';
    background: linear-gradient(180deg, #1d1b37 0px, #b70f0f00 4px), url(https://i1.beon.fun/24/36/3624/71/855971/0.gif) no-repeat -1px -26px / 100px;
    background-blend-mode: luminosity;
    width: 100px;
    height: 16px;
    position: absolute;
    left: 128px;
    top: 52px;
    pointer-events: none;
}

#fnplayer-volume {
    position: absolute;
    top: 116px;
    height: 4px;
    left: 64px;
    width: 80px;
    background: #151421;
    border-radius: 10px;
}

#fnplayer-volume-inner {
    height: 4px;
    background: #252344;
    border: none;
    border-radius: 10px;
    transition: .2s;
}

#fnplayer-play:before {
    content: '';
    background: url(https://i.pinimg.com/originals/57/32/01/57320170c92289b6a27f10948b512500.gif) no-repeat center / 110px, #1d1b37;
    background-blend-mode: luminosity;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 2px #2a2669, 
                              inset 0 0 3px 3px #1d1b37;
}

#fnplayer-slider-inner {
    background-color: #7a72e7;
    height: 2px;
    margin: 2px 0 0 2px;
    box-shadow: inset 0 0 2px 0 #000;
    transition: 1s;
}

#fnplayer-slider > span {
    margin: -22px 0px 0px 0;
    font-size: 0px;
    width: 170px;
    left: 10px;
    text-align: left;
    height: 20px;
    overflow: hidden;
    line-height: 1.5;
    pointer-events: auto;
}

#fnplayer-slider > span:after {
    font-size: 14px;
    content: 'do you think im evil?';
    letter-spacing: 1px;
    color: #5751a9;
}

#fnplayer-slider {
    position: absolute;
    top: 106px;
    left: 74px;
    width: 180px;
    background: #151421;
    border-radius: 8px;
    height: 6px;
}

#fnplayer-play {
    position: absolute;
    top: 60px;
    left: 20px;
    background: url(https://i1.beon.fun/24/36/3624/63/856063/icons8-vosproizvedenie-48.png) no-repeat 12px 10px / 30px, #423d9d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #5c52db, 
                              0px 1px 2px 1px #000 !important;
    border: none !important;
}

#beon-fnplayer {
    position: absolute;
    z-index: 1;
    top: calc(66% + 54px);
    background: transparent;
}

.blog__tags:before {
    background: url(https://i1.beon.fun/24/36/3624/8/856308/icons8-tegi-48.png) no-repeat 14px 8px / 34px, #252344;
}
.blog__tags:hover:before {
    background: url(https://i1.beon.fun/24/36/3624/8/856308/icons8-tegi-48.png) no-repeat 14px 8px / 34px, #423d9d;
}

.blog__iread:before {
    background: url(https://i1.beon.fun/24/36/3624/12/856312/icons8-knigi-48.png) no-repeat 14px 8px / 34px, #252344;
}
.blog__iread:hover:before {
    background: url(https://i1.beon.fun/24/36/3624/12/856312/icons8-knigi-48.png) no-repeat 14px 8px / 34px, #423d9d;
}

.blog__read-me:before {
    background: url(https://i1.beon.fun/24/36/3624/15/856315/icons8-pokazat-48.png) no-repeat 14px 8px / 34px, #252344;
}
.blog__read-me:hover:before {
    background: url(https://i1.beon.fun/24/36/3624/15/856315/icons8-pokazat-48.png) no-repeat 14px 8px / 34px, #423d9d;
}

.blog__last-comments:before {
    background: url(https://i1.beon.fun/24/36/3624/16/856316/icons8-chat-48.png) no-repeat 14px 8px / 34px, #252344;
}
.blog__last-comments:hover:before {
    background: url(https://i1.beon.fun/24/36/3624/16/856316/icons8-chat-48.png) no-repeat 14px 8px / 34px, #423d9d;
}

.blog__gifts:before {
    background: url(https://i1.beon.fun/24/36/3624/17/856317/icons8-podarok-48.png) no-repeat 14px 8px / 34px, #252344;
}
.blog__gifts:hover:before {
    background: url(https://i1.beon.fun/24/36/3624/17/856317/icons8-podarok-48.png) no-repeat 14px 8px / 34px, #423d9d;
}

.content {
    margin: 40px;
    width: calc(100% - 446px);
}

div.left-menu:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background: #423d9d;
    top: calc(66% + 1px);
    left: 1px;
    box-shadow: inset 0px 0px 2px 0px #151421;
    z-index: 1;
}

div.left-menu:after {
    content: '';
    position: absolute;
    top: calc(66% + 54px);
    width: inherit;
    height: inherit;
    background: url(https://i1.beon.fun/24/36/3624/57/855457/0.png) no-repeat, #1d1b37;
}

.blog__tags:hover, 
.blog__iread:hover,
.blog__read-me:hover, 
.blog__last-comments:hover, 
.blog__gifts:hover{
    z-index: 9;
}

.blog__tags:before { left: 7px; }
.blog__iread:before { left: 73px; }
.blog__read-me:before { left: 139px; }
.blog__last-comments:before { left: 205px; }
.blog__gifts:before { left: 271px; }

.blog__tags:before,
.blog__iread:before,
.blog__read-me:before,
.blog__last-comments:before,
.blog__gifts:before {
    content: '';
    position: absolute;
    width: 65px;
    height: 50px;
    top: -52px;
    transition: 0.5s;
    z-index: 9;
}

.blog__gifts,
.blog__read-me,
.blog__iread,
.blog__tags,
.blog__last-comments {
    letter-spacing: 1px;
    height: calc(100vh - 600px);
    background: #1d1b37;
    position: absolute;
    top: calc(66% - -52px);
    width: 100%;
    border-top: 1px solid #151421;
    padding: 5px;
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

.blog__tags h3 + .left-menu-text {
    height: 100%;
    overflow: auto;
}

.blog__about {
    font-size: 0;
    height: 66%;
    overflow: hidden;
    border-bottom: 1px solid #151421;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: url(https://i1.beon.fun/24/36/3624/50/855450/001.png) no-repeat bottom left, 
                             url(https://i1.beon.fun/24/36/3624/57/855457/0.png) no-repeat top right, #1d1b37;
    padding-top: 350px;
    text-align: center;
}

.content  .post-content .post-avatar img {
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    object-fit: cover;
    object-position: top;
    background: #252344;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    background: url(https://i1.beon.fun/24/36/3624/56/859356/icons8-dvoynaya-strelka-vniz-48.png) no-repeat 13px 10px / 30px, #1d1b37;
    z-index: 9;
    transform: rotate(180deg);
    position: fixed;
    right: 90px;
    top: 10px;
    font-size: 0;
    width: 56px;
    height: 56px;
    box-shadow: 0px -3px 4px -3px #645ed3, 
                              0px -7px 2px -2px #0a0a14;
    border-radius: 50%;
}

.crumb-item {
    font-weight: 100;
}

.navbar + div.crumbs {
    position: absolute;
    padding-left: 180px;
    padding-right: 20px;
    top: -44px;
    margin-left: 200px;
    background: #252344;
    box-shadow: 0px 0px 2px 0px #6f69b9, 
                              0px 0px 2px 1px #000 !important;
    border-radius: 20px;
    font-size: 16px;
    height: 26px;
    overflow: hidden;
    max-width: 80%;
}

.navbar + div.crumbs:before {
    content: 'здоровья маме (=';
    position: absolute;
    width: 150px;
    height: 30px;
    left: 0;
    margin: 0px 0 0px 15px;
    z-index: 0;
    border-top-left-radius: 10px;
    border-right: none;
    color: #bcb0eb17;
}

.navbar-brand {
    position: fixed !important;
    top: 14px;
    left: 20px;
    font-size: 0;
    background: url(https://i1.beon.fun/24/36/3624/7/858207/icons8-glavnaya-48.png) no-repeat center / 30px;
    width: 24px;
    height: 24px;
}

.navbar-brand:after {
    content: '';
    position: absolute;
    box-shadow: 5px 0px 1px -4px #423d9d;
    width: 46px;
    height: 40px;
    top: -8px;
}


div.left-menu {
    background: url(https://i1.beon.fun/24/36/3624/22/859422/Screenshot_5-1.png) no-repeat 0 calc(66% + 35px), #1d1b37;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14 !important;
    position: sticky;
    top: 90px;
    z-index: 9;
    border-radius: 20px;
    border: none !important;
    height: calc(100vh - 130px);
    overflow: hidden;
    margin: 0;
    width: 337px;
    margin-left: 30px;
    margin-top: -100px;
    transition: 1s;
}

.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none,
#navbarSupportedContent > ul.navbar-nav.ml-auto > a {
    background: url(https://i1.beon.fun/24/36/3624/56/859356/icons8-dvoynaya-strelka-vniz-48.png) no-repeat 13px 18px / 30px, #1d1b37;
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 0;
    width: 56px;
    height: 56px;
    box-shadow: 0px 3px 4px -3px #645ed3, 
                              0px 7px 2px -2px #0a0a14 !important;
    border-radius: 50%;
}


body {
    background: url(https://i1.beon.fun/24/36/3624/4/820804/75.jpg) fixed no-repeat center top  / cover, black;
    box-shadow: 0px 0px 2px 0px #6960d3, 
                              0px 0px 2px 1px #000 !important;
    animation: opacity 2s;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    height: 50px;
    overflow: hidden;
    background: #1d1b37;
    box-shadow: 0px 0px 4px 0px #423d9d, 
                              0px 4px 4px 0px #0a0a14 !important;
    transition: .5s;
}

div#app {
    padding: 0;
    margin-top: 60vh;
    background: linear-gradient(180deg, #151421bf 40%, #19173794 80%, #242151bf) fixed, 
                             url(https://i1.beon.fun/24/36/3624/44/857444/01.jpg) fixed center / 800px;
    position: relative;
}

#csseditortext {
    height: 500px !important;
    overflow: auto !important; 
}

@keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-footer {
    border-top: 1px solid #1d1b37;
padding: 5px 10px;
}

.btn-outline-primary {
    background-color: #1d1b37;
    border-color: #7771cb3d !important;
    border-radius: 10px;
    color: #7771cb;
    box-shadow: unset !important;
}
.btn-outline-primary:hover {
    background-color: #423d9d;
    color: #e9dbff;
    text-shadow: 0 0 15px #9d96fd;
}

.modal-footer .btn-primary:hover,
.modal-footer .btn-secondary:hover,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
    background-color: #5955a9;
    border-color: #252344;
}

.modal-footer button {
    min-width: 100px;
    background: #5955a9;
    color: #9a93d1;
    text-transform: lowercase;
    letter-spacing: 1px;
    box-shadow: unset !important;
    font-size: 12px;
}

.modal-body .user_show {
    width: 100px;
}

.modal-body .user_show .div_user_img {
    border: 4px solid #252344;
    height: 80px;
    width: 80px;
    background: url(https://i1.beon.fun/24/36/3624/87/857487/1.gif) center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #1d1b37;
}

.modal-body .user_show .div_user_img img {
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    object-fit: cover;
}

.modal-body .user_footer {
    display: none;
}

.modal-content {
    border-radius: 20px;
    overflow: hidden;
    background: #252344;
    box-shadow: 0px 0px 2px 0px #5b55cd, 
                              0px 0px 2px 2px #0a0a14;
    border: none;
}

.modal-dialog {
    min-height: 50%;
    display: flex;
    align-items: center;
}

.modal-header .close {
    padding: unset;
    margin: 0 5px 0 0px;
    font-size: 24px;
    box-shadow: unset;
    background: transparent !important;
}

.modal-header {
    background: #1d1b37;
    border-color: #1d1b37;
    padding: 5px 10px;
    text-transform: lowercase;
}

.modal-header .modal-title {
    font-size: 14px;
}

.modal-open {
    padding-right: 10px !important;
}

.modal-backdrop {
    background-color: #151421;
    opacity: .9 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #e9dbff;
    background-color: #423d9d;
    border-color: #423d9d;
}

.content .post-content h1 + .small-text + div  > div > a,
.content .post-content h1 + .small-text + div  > div + [href$="/subscribe"], 
.content .post-content h1 + .small-text + div  > div + [href$="/unsubscribe"], 
.content .post-content .load_ignored_comments {
    transition: .5s;
    position: absolute;
    top: -1px;
    width: 38px;
    height: 38px;
    padding: 7px 7px;
}

.content .post-content h1 + .small-text + div  > div + [href$="/subscribe"] {
    content: url(https://i1.beon.fun/24/36/3624/22/861622/icons8-dobavit-v-chat-48.png);
    right: 5px;
}
.content .post-content h1 + .small-text + div  > div + [href$="/unsubscribe"] {
    content: url(https://i1.beon.fun/24/36/3624/24/861624/icons8-udalit-chat-48.png);
    right: 5px;
}

.content .post-content .load_ignored_comments {
    content: url(https://i1.beon.fun/24/36/3624/21/861621/5.png);
    right: 43px;
}

.content .post-content h1 + .small-text + div  > div > a  {
    content: url(https://i1.beon.fun/24/36/3624/10/868410/icons8-udalit-svoystvo-48.png);
    right: 81px;
}

.content .textareabg #preview-area .post-content { box-shadow: unset; }
.content .post-content h1 + .small-text + div + .text-right + div { height: 0; }

.blog:before,
[src="/i/halloween/cat-ghost.png"],
#csseditortext::-webkit-resizer,
.tag:before,
.sign,
.textareabg #messageform br,
.content .post-content .small-text,
.post-content div:not(.post-header) .user-drop-menu,
.comment-box .user-drop-menu,
 #usermenu #usermenu__duel,
[src="/i/beon-logo.png"],
[src="/i/blog.png"],
[src="/i/user.png"],
.py-4 + .crumbs .pagination .pagination-goto,
.post__tags-list,
.post__mood,
.post__musicplay,
.post__wish,
.flag,
.blog__iread a img,
.blog__read-me a img,
.user:before,
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/offline.png"],
.blog__about .text-center img,
#fnplayer-stop,
#fnplayer-volume-mask,
.post-content .post-avatar .sign,
.post-content .post-title-date,
.post-content .user.post-title-user,
.post-content.blog_total_counter,
#page__rendertime,
#footer.p-1,
#page__admincontact,
.footer__infolinks.p-1,
.left-menu__friends,
.container .m2,
.pc-menu {
    display: none !important;
}

@media (max-width: 1000px) {
.alert-warning, .alert-success {
    font-size: 12px;
    padding: 4px 120px 4px 10px;
}
}

@media (max-width: 890px) {
.avatar-select-list {
    overflow-x: hidden;
}

.avatar-select-label {
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
}
}

@media (max-width: 780px) {
.postsiblings {
    display: flex;
    justify-content: space-between;
}
.prevsibling, .nextsibling.text-right {
    width: auto;
}

.fas, .far, .tag_bar > * {
    font-size: unset;
    padding: unset;
}

.left-menu .left-menu-text {
    text-align: -webkit-center;
}

.content {
    padding-top: 20px;
}

div.left-menu {
    width: 280px;
}

.navbar + div.crumbs {
    margin-left: 140px;
}

.content {
    margin: 30px;
    width: calc(100% - 350px);
}

.blog__about [href="/design/disable"] {
    left: calc(50% + 75px);
}
 .blog__about [href="/drafts"],
.blog__about .blog-subscribe {
    left: calc(50% + 11px);
}
.blog__about [href="/p"],
.blog__about [href^="/friends/request/"],
.blog__about [href^="/friends/delete/"] {
    left: calc(50% - 53px);
}
.blog__about [href^="//im.beon.fun/"] {
    left: calc(50% - 115px);
}

.blog__about {
    padding-bottom: 30px;
}
}


@media (max-width: 767.9px) {
.avatar-select-list {
    height: 120px !important;
    padding: 0px 25px;
    overflow-x: unset;
    overflow-y: auto;
    border-left: unset;
    border-left: 1px solid #302c6a;
}

.avatar-select-label {
    margin: 0px -20px 0px -20px;
}
}













@media (max-width: 700px) {
.blog__gifts a, .blog__read-me a, .blog__last-comments a, .blog__iread a {
    padding: 0;
}
.readertime + a + a { display: none; }

.post-header .post-title {
    font-size: 18px;
    max-height: 32px;
    padding-top: 2px;
}

.content {
    padding-top: 0px;
}

[action="/search"] {
    display: none;
}

body {
    background: url(https://i1.beon.fun/24/36/3624/4/820804/75.jpg) fixed no-repeat 0px 50px / contain, #1a192c;
}
div#app {
    margin-top: 24vh;
    overflow: hidden;
}

.navbar + div.crumbs:before {
    display: none;
}

div.left-menu {
    width: auto;
    position: unset;
    margin: 20px 20px 0 20px;
    z-index: 4;
    height: unset;
}

.navbar + div.crumbs {
    all: unset;
    position: fixed;
    left: 140px;
    top: 6px;
    z-index: 9;
    box-shadow: unset !important;
    width: 40px;
    height: 40px;
    font-size: 0;
}

.navbar + div.crumbs > a:first-child > span {
    background: url(https://i1.beon.fun/24/36/3624/76/868076/icons8-vpravo-3-48.png) no-repeat 5px 7px / 30px, #1d1b3700;
    height: 40px;
    width: 40px;
    display: block;
    transform: rotate(180deg);
}

.navbar + div.crumbs .pagination {
    display: none;
}

.left-menu > div.mobile_open_menu > h3 {
    text-align: center;
    font-weight: 100;
    text-transform: lowercase;
    color: #7771cb;
    font-size: 16px !important;
    margin: 0 !important;
}

.content {
    width: unset;
    margin: 20px;
}

span.comments_count span::before {
    display: none;
}

span.comments_count span {
    font-size: 12px;
    font-family: unset;
}

.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none, 
#navbarSupportedContent > ul.navbar-nav.ml-auto > a {
    box-shadow: unset !important;
    top: -5px;
    right: 5px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    box-shadow: unset !important;
    top: -5px;
    right: 75px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:after {
    content: '';
    position: absolute;
    box-shadow: 5px 0px 1px -4px #423d9d;
    width: 10px;
    height: 40px;
    top: 5px;
    margin: 0px 0px 0px -18px;
}

.blog__gifts, .blog__read-me, .blog__iread, .blog__tags, .blog__last-comments {
    position: unset;
    height: unset;
    width: unset;
    overflow: hidden;
    transition: 1s 1s;
    max-height: 38px;
    background: url(https://i1.beon.fun/24/36/3624/57/855457/0.png) no-repeat right 36px, #1d1b37;
}
.blog__gifts h3, 
.blog__read-me h3, 
.blog__iread h3, 
.blog__tags h3, 
.blog__last-comments h3 {
    color: #7771cb !important;
}


.blog__gifts:hover, 
.blog__read-me:hover, 
.blog__iread:hover, 
.blog__tags:hover, 
.blog__last-comments:hover {
    max-height: 500px;
    transition: 1s;

}
#beon-fnplayer {
    all: unset;
}

.fas.fa-angle-down, 
div.left-menu:before,
div.left-menu:after,
.blog__tags:before, 
.blog__iread:before, 
.blog__read-me:before, 
.blog__last-comments:before, 
.blog__gifts:before {
    display: none;
}

.left-menu div:not(.blog__about) h3 {
    font-size: 14px;
    margin: 0px -5px 10px -5px;
    padding: 10px 10px !important;
    background: #1d1b37 !important;
    color: unset;
    box-shadow: 0 0 2px 1px #151421;
}

span.comments_count a {
    font-size: unset !important;
}

.datebg {
    margin: -22px 40px;
    padding: 2px 10px;
    font-size: 10px;
}

.post-header .post-title-date + span {
    font-size: 10px;
    right: 24px;
    top: 0px;
    color: #5751a569;
}

.blog__about {
    border-bottom: unset;
}

.blog__gifts, .blog__read-me, .blog__iread, .blog__tags, .blog__last-comments {
    padding: 0 0 10px 0;
}

#beon-fnplayer {
    height: 80px;
    display: block;
}

#fnplayer-play {
    left: calc(50% - 130px);
    top: unset;
}

#fnplayer-slider {
    top: unset;
    left: calc(50% - 80px);
    margin-top: 40px;
}

#fnplayer-volume {
    top: unset;
    left: calc(50% - 85px);
    margin-top: 50px;
}

#fnplayer-play.paused:after {
    top: 48px;
}

.left-menu .blog__about h3 {
    top: 20px;
    width: calc(100% - 40px);
}

.blog__about [href="/design/disable"] {
    top: 300px;
    left: calc(50% + 105px);
}
 .blog__about [href="/drafts"],
.blog__about .blog-subscribe {
    top: 300px;
    left: calc(50% + 21px);
}
.blog__about [href="/p"],
.blog__about [href^="/friends/request/"] {
    top: 300px;
    left: calc(50% - 63px);
}
.blog__about [href^="//im.beon.fun/"] {
    top: 300px;
    left: calc(50% - 145px);
}

.left-menu > div.left-menu__user-notification h3 {
    font-size: 0;
    padding: 0 !important;
    box-shadow: unset;
}

.content > .datebg:first-child {display: none;}

.comment-box .post-avatar {
    min-width: 88px;
    min-height: 88px;
    max-width: 88px;
    max-height: 88px;
}
.comment-box .post-avatar a:before {
background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/933820/b6080a0f52bfc036e7de284754c2ea8781323d7b.png) no-repeat -7px -7px / 94px;
    width: 80px;
    height: 80px;
}


.comment-box .post-avatar img {
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
}


.comment-box .comment-content > div > .post-title-date + a {
    margin: 5px 5px 0 5px;
}

.menu__box {
    left: 0;
    top: 52px;
    width: 100%;
    max-height: calc(100% - 54px) !important;
    display: block;
    border-radius: unset;
    background: #252344fa;
}

.menu__box::-webkit-scrollbar-thumb {
    border-bottom-right-radius: unset;
}
